 .adm-com {
  width: 50%;
    }
@media (max-width: 992px) {
  .adm-com {
  width: 50%;
    }
}
@media (max-width: 768px) {
  .adm-com {
  width: 64%;
  margin-left: 2%;
  }
}
@media (max-width: 567px) {
  .adm-com {
    margin-left: 10%;
  width: 80%;
 
  }
}