
@media (max-width: 768px) {
  .card-comp {
   display: flex;
   flex-direction: column;
   }
}

@media (max-width: 768px) {
  .card-comp1 {
    margin-left: 4%;
  }
}
@media (max-width: 567px) {
  .card-comp1 {
   width: 93%;
  }
}

@media (max-width: 768px) {
  .card1 {
    font-size: 35px;
    margin-right: 35%;
   }
}
@media (max-width: 567px) {
  .card1 {
    font-size: 25px;
    margin-right: 35%;
    
   }
}

