.transition-opacity {
  transition: opacity 1s ease-in-out;
}
.opacity-0 {
  opacity: 0;
  z-index: 0;
}
.opacity-100 {
  opacity: 1;
  z-index: 1;
}
.slider-class {
    width: 100%; 
  }
  @media (max-width: 992px) {
  .slider-class {
     width: 100%; 
  
  }
}
@media (max-width: 768px) {
  .slider-class {
    width:100%; 
  
  }
}
@media (max-width: 567px) {
  .slider-class {
    width: 100%; 
    
  }
}

@media (max-width: 567px) {
  .slider-class  .com{
    font-size: 8px;
    }
}
.slider-com {
    width: 25%; 

  }
   @media (max-width: 992px) {
  .slider-com {
     width: 25%; 
  
  }
}
@media (max-width: 768px) {
  .slider-com {
    width: 30%; 
  
  }
}

@media (max-width: 567px) {
  .slider-com {
    width: 65%; 
    font-size: 20px;
  }
}




